<div id="page">

    
    <p><%= typeof message != 'undefined' ? message : '' %></p>
    <form action="/forget-password" method="POST">
        <input type="email" placeholder="email" name="email">
        <input type="submit" value="reset password">
    </form>
</div>