<div id="page">


    <p><%= typeof message != 'undefined' ? message : '' %></p>
    <form action="/resetPassword" method="POST">
        <input type="password" placeholder="password" name="password">
        <input type="passwordConfirm" placeholder="Confrim password" name="passwordConfirm">
        <input type="submit" value="reset password">
    </form>
</div>