<p><%= typeof message != 'undefined' ? message : '' %></p>

<% if (typeof categories != 'undefined') { %>
<% let counter = 1 %>
<% categories.forEach((category) => { %>

<div id="category-admin">
    <a href="/admin/category/<%= category.id %>"><p style="width: max-content; padding: 10px; margin: 5px auto; border: 1px solid #eee;">Catery Name: <%=category.name %></p></a>
</div>

<% }) %>
<% } %>