<div class="footer">

    <div class="get-in-touch">
        <h3>Get In Touch</h3>
        <p><i class="fas fa-clock"></i>09:00 - 17:00 Monday - Thursday <br>Friday 09:00 - 16:00</p>
        <a href="tel:02392 359458"><p><i class="fas fa-phone-volume"></i> 02392 359458 </p></a>
        <a href="mailto: info@haylingprint.co.uk"><p><i class="far fa-paper-plane"></i>info@haylingprint.co.uk</p></a>

    </div>
    <div class="iso">
        <h3>ISO Certified</h3>
    </div>
    <div class="payment-options">
        <h3>Payment Options</h3>
        <img src="/img/site/pp.JPG">
    </div>
    <div class="useful-links">
        <h3>Useful Links</h3>
        <p><a href="/about">About Us</a></p>
        <p><a href="/account">Login Area</a></p>
        <p><a href="/terms">T & C</a></p>
        <p><a href="/privacy-policy">Privacy Policy</a></p>
        <p><a href="/sitemap">Sitemap</a></p>
    </div>

</div>


<div id="footer">
    <p>Copyright &copy; Hayling Print @2020</p>
</div>
<script>
            let toggle = document.getElementById('toggle');
                let mainMenu = document.getElementById('main-menu');

                if (window.innerWidth <= 1200) {
                    mainMenu.style.visibility = 'hidden';
                    mainMenu.style.opacity = '0';
                }


                toggle.addEventListener('click', () => {
                    event.preventDefault();

                    if (mainMenu.style.visibility == 'hidden') {
                        mainMenu.style.visibility = 'visible';
                        mainMenu.style.opacity = '1';
                    } else {
                        mainMenu.style.visibility = 'hidden';
                        mainMenu.style.opacity = '0';
                    }


                });
            if (window.innerWidth <= 1200) {
                document.getElementById('page').addEventListener('click', () => {
                    mainMenu.style.visibility = 'hidden';
                    mainMenu.style.opacity = '0';
                });
            }
                
</script>