<footer id="footer">
    <p>Copyright &copy; Hayling Print @2020</p>
</footer>
<script>
            let toggle = document.getElementById('toggle');
                let mainMenu = document.getElementById('main-menu');

                if (window.innerWidth <= 1200) {
                    mainMenu.style.visibility = 'hidden';
                    mainMenu.style.opacity = '0';
                }


                toggle.addEventListener('click', () => {
                    event.preventDefault();

                    if (mainMenu.style.visibility == 'hidden') {
                        mainMenu.style.visibility = 'visible';
                        mainMenu.style.opacity = '1';
                    } else {
                        mainMenu.style.visibility = 'hidden';
                        mainMenu.style.opacity = '0';
                    }


                });

                document.getElementById('page').addEventListener('click', () => {
                    mainMenu.style.visibility = 'hidden';
                    mainMenu.style.opacity = '0';
                });
                
</script>