

<nav>
    <menu>
        <menuitem><a href="/">Home</a></menuitem>
        <menuitem id="demo1">
        <a href="/products">Products</a>
        <menu>
            <menuitem><a>Business Card</a></menuitem>
            <menuitem>
            <a>Liftet</a>
            <menu>
                <menuitem><a>Sub Category</a></menuitem>
                <menuitem><a>Sub Category</a></menuitem>
                <menuitem><a>Sub Category</a></menuitem>
                <menuitem><a>Sub Category</a></menuitem>
            </menu>
            </menuitem>
            <menuitem><a>Category</a></menuitem>
            <menuitem id="demo2">
            <a>Category</a>
            <menu>
                <menuitem id="demo3">
                <a>Sub Category</a>
                <menu>
                    <menuitem><a>Sub Sub Category</a></menuitem>
                    <menuitem><a>Sub Sub Category</a></menuitem>
                    <menuitem><a>Sub Sub Category</a></menuitem>
                </menu>
                </menuitem>
                <menuitem><a>Sub Sub Category</a></menuitem>
            </menu>
            </menuitem>
        </menu>
        </menuitem>
        <menuitem><a href="/about">About</a></menuitem>
        <menuitem><a href="/account">Account</a></menuitem>
        <menuitem><a href="/contact">Contact</a>
            <menu>
                <menuitem><a href="/login">Login</a></menuitem>
                <menuitem><a href="/register">Register</a></menuitem>
                <menuitem><a href="/contact">Contact</a></menuitem>
            </menu>
        </menuitem>
        
        
    </menu>
</nav>
