
<header>
    <nav class="top-nav">
        <div>
            <a href="/" title="logo" id="logo"><img src="/img/site/logo.jpg" width="150" alt="logo"></a>
        </div>

        <div>
            <p class="right-top-menu"><span><a href="/cart">Cart</a></span>  <span><a href="/login">Login</a></span></p>
        </div>

    </nav>

    <nav class="main-menu">

        <ul>
            <li><a href="/">Home</a></li>

            <li id="product-menu"><a href="/products">Products</a>
                <ul id="first-level">
                    <li>Business Card</li>
                        <ul id="2nd-level">
                            <li>Small Card
                                <ul id="third-level">
                                    <li>Very little Card</li>
                                </ul>
                            </li>
                        </ul>
                </ul>
            </li>

            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>


    </nav>



</header>



