
<header>
    <div>
    <nav class="top-nav">
        <div>
            <a href="/" title="logo" id="logo">HAIYING PRINT</a>
        </div>

    

        <div>
            <p class="right-top-menu"><span><a href="/cart">Cart</a></span>  <span><a href="/login">Login</a></span></p>
        </div>

    </nav>
    <div class="main-menu pure-css-nav">
        <nav>

            <ul>
                <li><a href="/">Home</a></li>

                <li id="product-menu"><a href="/products">Products</a>
                    <ul id="first-level">
                        <li><a href="/">Business Card</a>
                            <ul id="2nd-level">
                                <li><a href="/">Small Card</a>
                                    <ul id="third-level">
                                        <li><a href="/">Very little Card</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>


        </nav>
    </div>

</div>

</header>



