
<header>
    <nav class="top-nav">
        <div>
            <a href="/" title="logo" id="logo"><img src="/img/site/logo.jpg" width="150" alt="logo"></a>
        </div>

        <div>
            <p class="right-top-menu"><span><a href="/cart">Cart</a></span>  <span><a href="/login">Login</a></span></p>
        </div>

    </nav>

    <nav class="main-menu">

        <ul>
            <li><a href="/about">Home</a></li>

            <li><a href="/products">Products</a>
            
            </li>

            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>


    </nav>

</header>



