
<header>
    <div>
    <nav class="top-nav">
        <div>
            <a href="/" title="logo" id="logo">HAYLING PRINT</a>
        </div>



        <div>
            <p class="right-top-menu"><span><a href="/cart">Cart</a></span>  <span><a href="/login">Login</a></span></p>
        </div>

    </nav>
    <div class="main-menu pure-css-nav">
        <nav>

            <ul>
                <li><a href="/">Home</a></li>

                <li id="product-menu"><a href="/products">Prod ucts</a>
                    <ul id="2nd-level">
                        <li><a href="/categories/">Business Cards</a></li>
                        <li><a href="/categories/">Business Stationary</a>

                            <ul id="third-level">
                                <li><a href="/categories/">Compliment Slips</a></li>
                                <li><a href="/categories/">Letterheads</a></li>
                                
                            
                            </ul>
                        </li>
                        <li><a href="/categories/">Calendars</a></li>
                        <li><a href="/categories/">Cards & Invites</a>
                        </li>
                        <li><a href="/categories/">Flyers & Leaflets</a>
                        </li>
                        <li><a href="/categories/">Booklets</a>
                        </li>
                        <li><a href="/categories/">Presentations Folders</a>
                        </li>
                        <li><a href="/categories/">Stickers & Labels</a></li>
                        <li><a href="/categories/">Posters</a></li>
                        <li><a href="/categories/">Outdoor Banners & Pop ups</a>
                        </li>
                        <li><a href="/categories/">Flags</a>
                        </li>
                        <li><a href="/categories/">Foamex</a></li>
                        <li><a href="/categories/">Canvas Prints</a></li>
                        <li><a href="/categories/">Plan Printing</a></li>
                        <li><a href="/categories/">NCR</a></li>
                    </ul>
                </li>

                <li><a href="/clothing">Clothing</a>
                    <ul id="2nd-level">
                        <li><a href="/categories/">Workwear</a></li>
                        <li><a href="/categories/">Stag & Hen Parties</a></li>
                        <li><a href="/categories/">Leisure</a></li>
                        <li><a href="/categories/">Polos</a></li>
                        <li><a href="/categories/">Socks</a></li>
                        <li><a href="/categories/">Hats</a></li>
                            
                     </ul>
                    
                </li>
                <li><a href="/product-printing">Product Printing</a>
                    <ul id="2nd-level">
                        <li><a href="/categories/">Mugs</a></li>
                        <li><a href="/categories/">Dog Collar</a></li>
                        <li><a href="/categories/">Aluminum sheets</a></li>
                        <li><a href="/categories/">Puzzle</a></li>
                        <li><a href="/categories/">Coasters</a></li>
                        <li><a href="/categories/">Mouse Matʼs</a></li>
                        <li><a href="/categories/">Tote bags</a></li>
                        <li><a href="/categories/">Travel mug</a></li>
                    
                    </ul>
                </li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>


        </nav>
    </div>

</div>

</header>



