
<header id="header">
    <div>
    <nav class="top-nav">
        <div>
            <a href="/" title="logo" id="logo"><img src='/img/site/logo.jpg' width="150"></a>

            
        </div>

        

        <div>
            

            
            <p class="right-top-menu">
                <i class="fas fa-phone-volume"></i> <span>02392 359458</span> <br> 
                <i class="far fa-paper-plane"></i> <span>callum@haylingprint.co.uk</span><br>



                <span><a href="/cart">
                    
                    <i class="fa fa-shopping-cart" aria-hidden="true">
                        
                       
                            
                        <span id="cart-count"></span>
                        
                        
                    </i>
Cart</a></span>
                <% if(typeof user != 'undefined'){ %>
                    <span><a href="/account"><i class="fa fa-users" aria-hidden="true"></i>
Account</a></span>
                    <span><a href="/api/v1/users/logout">Logout</a></span>
                <%}%>
                <% if(typeof user == 'undefined'){ %>
                    <span><a href="/login">Login</a></span>
                    <span><a href="/register">Register</a></span>
                <%}%>
            </p>
        </div>

    </nav>

    <div class="toggle-menu" id="toggle">
        <i style="font-size: 1.4rem;" class="fa fa-bars" aria-hidden="true"></i>
    
    </div>

    

    <div id="main-menu" class="main-menu pure-css-nav">
        <nav>

            <ul>
            
                <li><a href="/">Home</a></li>

                <li id="product-menu"><a href="/categories/5f476533cbb298925cbaaaec">Products</a>
                    <ul id="2nd-level">
                        <li><a href="/categories/5f47678d52558695ed8cb1fc">Business Cards</a></li>
                        <li><a href="/categories/5f476a00171cb99715cb49a9">Business Stationary</a>

                            <ul id="third-level">
                                <li><a href="/categories/5f476a1d171cb99715cb49aa">Compliment Slips</a></li>
                                <li><a href="/categories/5f476a2c171cb99715cb49ab">Letterheads</a></li>
                                
                            
                            </ul>
                        </li>
                        <li><a href="/categories/5f476a40171cb99715cb49ac">Calendars</a></li>
                        <li><a href="/categories/5f476a52171cb99715cb49ad">Cards & Invites</a>
                            <ul id="third-level">
                                <li><a href="/categories/5f476a65171cb99715cb49ae">Greeting Cards</a></li>
                                <li><a href="/categories/5f476a7d171cb99715cb49af">Invitations</a></li>
                                <li><a href="/categories/5f476a8b171cb99715cb49b0">Postcards</a></li>
                            </ul>
                        </li>
                        <li><a href="/categories/5f476a9c171cb99715cb49b1">Flyers & Leaflets</a>
                            <ul id="third-level">
                                <li><a href="/categories/5f476ab1171cb99715cb49b2">Flyers</a></li>
                                <li><a href="/categories/5f476ac2171cb99715cb49b3">Folded Leaflets</a></li>
                            </ul>
                        </li>
                        <li><a href="/categories/5f476acf171cb99715cb49b4">Booklets</a>
                            <ul id="third-level">
                                <li><a href="/categories/5f476adf171cb99715cb49b5">Stapled Booklets</a></li>
                                <li><a href="/categories/5f476aed171cb99715cb49b6">Wirobound Booklets</a></li>
                            </ul>
                        </li>
                        <li><a href="/categories/5f476b09171cb99715cb49b7">Presentations Folders</a>

                            <li><a href="/categories/5f476b1d171cb99715cb49b8">Glued Folders</a></li>
                            <li><a href="/categories/5f476b2a171cb99715cb49b9">Interlocking Folders</a></li>

                        </li>
                        <li><a href="/categories/5f476b3a171cb99715cb49ba">Stickers & Labels</a></li>
                        <li><a href="/categories/5f476b46171cb99715cb49bb">Posters</a></li>
                        <li><a href="/categories/5f476b54171cb99715cb49bc">Outdoor Banners & Pop ups</a>

                            <ul id="third-level">
                                <li><a href="/categories/5f476b63171cb99715cb49bd">Roller Banners</a></li>
                                <li><a href="/categories/5f476b74171cb99715cb49be">PVC Banners</a></li>
                            </ul>
                        </li>
                        <li><a href="/categories/5f476b86171cb99715cb49bf">Flags</a>
                            <ul id="third-level">
                                <li><a href="/categories/5f476b93171cb99715cb49c0">Feather Flags</a></li>
                                <li><a href="/categories/5f476b9f171cb99715cb49c1">Teardrop Flags</a></li>
                            </ul>
                        </li>
                        <li><a href="/categories/5f476bab171cb99715cb49c2">Foamex</a></li>
                        <li><a href="/categories/5f476bb8171cb99715cb49c3">Canvas Prints</a></li>
                        <li><a href="/categories/5f476bc5171cb99715cb49c4">Plan Printing</a></li>
                        <li><a href="/categories/5f476bd2171cb99715cb49c5">NCR</a></li>
                    </ul>
                </li>

                <li><a href="/categories/5f47654ccbb298925cbaaaed">Clothing</a>
                    <ul id="2nd-level">
                        <li><a href="/categories/5f476bef171cb99715cb49c6">Workwear</a></li>
                        <li><a href="/categories/5f476bfe171cb99715cb49c7">Stag & Hen Parties</a></li>
                        <li><a href="/categories/5f476c13171cb99715cb49c8">Leisure</a></li>
                        <li><a href="/categories/5f476c1e171cb99715cb49c9">Polos</a></li>
                        <li><a href="/categories/5f476c29171cb99715cb49ca">Socks</a></li>
                        <li><a href="/categories/5f476c34171cb99715cb49cb">Hats</a></li>
                            
                     </ul>
                    
                </li>
                <li><a href="/categories/5f476557cbb298925cbaaaee">Product Printing</a>
                    <ul id="2nd-level">
                        <li><a href="/categories/5f476c40171cb99715cb49cc">Mugs</a></li>
                        <li><a href="/categories/5f476c4e171cb99715cb49cd">Dog Collar</a></li>
                        <li><a href="/categories/5f476c5d171cb99715cb49ce">Aluminum sheets</a></li>
                        <li><a href="/categories/5f476ca5171cb99715cb49cf">Puzzle</a></li>
                        <li><a href="/categories/5f476cb2171cb99715cb49d0">Coasters</a></li>
                        <li><a href="/categories/5f476ccf171cb99715cb49d1">Mouse Matʼs</a></li>
                        <li><a href="/categories/5f476ce9171cb99715cb49d2">Tote bags</a></li>
                        <li><a href="/categories/5f476cf5171cb99715cb49d3">Travel mug</a></li>
                    
                    </ul>
                </li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact-us">Contact Us</a></li>
            </ul>


        </nav>
    </div>

</div>
<script>

    //toggle menu



// function allStorage() {

//     var cartValues = [],
//     cartCount = 0,
//     keys = Object.keys(localStorage),
//     i = keys.length;

//     while ( i-- ) {
//     cartValues.push(JSON.parse(localStorage.getItem(keys[i])) );
//     }

//     for(var j = 0; j < cartValues.length; j++){
//         cartCount += Number(cartValues[j].quantity);

//     }

//     document.getElementById('cart-count').innerHTML = cartCount;

    
    
    
// }
// allStorage();
</script>
</header>



