
<header>
    <div>
    <nav class="top-nav">
        <div>
            <a href="/" title="logo" id="logo">HAYLING PRINT</a>
        </div>



        <div>
            

            
            <p class="right-top-menu">
                <span><a href="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
Cart</a></span>
                <% if(typeof user != 'undefined'){ %>
                    <span><a href="/account"><i class="fa fa-users" aria-hidden="true"></i>
Account</a></span>
                <%}%>
                <% if(typeof user == 'undefined'){ %>
                    <span><a href="/login">Login</a></span>
                <%}%>
            </p>
        </div>

    </nav>
    <div class="main-menu pure-css-nav">
        <nav>

            <ul>
                <li><a href="/">Home</a></li>

                <li id="product-menu"><a href="/products">Products</a>
                    <ul id="2nd-level">
                        <li><a href="/categories/5f3a4d1020f2b5a12cf2a7ea">Business Cards</a></li>
                        <li><a href="/categories/5f3a4d2520f2b5a12cf2a7eb">Business Stationary</a>

                            <ul id="third-level">
                                <li><a href="/categories/5f3a4d4120f2b5a12cf2a7ec">Compliment Slips</a></li>
                                <li><a href="/categories/">Letterheads</a></li>
                                
                            
                            </ul>
                        </li>
                        <li><a href="/categories/5f3a4dc520f2b5a12cf2a7ee">Calendars</a></li>
                        <li><a href="/categories/5f3a4df920f2b5a12cf2a7ef">Cards & Invites</a>
                        </li>
                        <li><a href="/categories/5f3a4e3e20f2b5a12cf2a7f3">Flyers & Leaflets</a>
                        </li>
                        <li><a href="/categories/5f3a4e6f20f2b5a12cf2a7f6">Booklets</a>
                        </li>
                        <li><a href="/categories/5f3a4ec220f2b5a12cf2a7f9">Presentations Folders</a>
                        </li>
                        <li><a href="/categories/5f3a4f5c20f2b5a12cf2a7fd">Stickers & Labels</a></li>
                        <li><a href="/categories/5f3a4f6520f2b5a12cf2a7fe">Posters</a></li>
                        <li><a href="/categories/5f3a4f6e20f2b5a12cf2a7ff">Outdoor Banners & Pop ups</a>
                        </li>
                        <li><a href="/categories/5f3a4fa120f2b5a12cf2a802">Flags</a>
                        </li>
                        <li><a href="/categories/5f3a4fc820f2b5a12cf2a805">Foamex</a></li>
                        <li><a href="/categories/5f3a4fe220f2b5a12cf2a806">Canvas Prints</a></li>
                        <li><a href="/categories/5f3a4feb20f2b5a12cf2a807">Plan Printing</a></li>
                        <li><a href="/categories/5f3a4ff420f2b5a12cf2a808">NCR</a></li>
                    </ul>
                </li>

                <li><a href="/clothing">Clothing</a>
                    <ul id="2nd-level">
                        <li><a href="/categories/">Workwear</a></li>
                        <li><a href="/categories/">Stag & Hen Parties</a></li>
                        <li><a href="/categories/">Leisure</a></li>
                        <li><a href="/categories/">Polos</a></li>
                        <li><a href="/categories/">Socks</a></li>
                        <li><a href="/categories/">Hats</a></li>
                            
                     </ul>
                    
                </li>
                <li><a href="/product-printing">Product Printing</a>
                    <ul id="2nd-level">
                        <li><a href="/categories/">Mugs</a></li>
                        <li><a href="/categories/">Dog Collar</a></li>
                        <li><a href="/categories/">Aluminum sheets</a></li>
                        <li><a href="/categories/">Puzzle</a></li>
                        <li><a href="/categories/">Coasters</a></li>
                        <li><a href="/categories/">Mouse Matʼs</a></li>
                        <li><a href="/categories/">Tote bags</a></li>
                        <li><a href="/categories/">Travel mug</a></li>
                    
                    </ul>
                </li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>


        </nav>
    </div>

</div>

</header>



