<div style="padding: 30px;" id="page">
<h1> About Hayling Print</h1>
    <p>
    Hayling Print has been set up with the very latest technology digital Printing equipment, we are one of the most technologically advanced Printing companies in the UK. </p>
    
    <p>We keep up to date with the latest technologies in the print industry.</p>
    
    
    <p>Shipping 3 - 5 Days
    <br>
    <b>Express shipping: 1 day</b></p>
</div>
