
<div id="page">
    <div id="checkout">


        <% if(typeof carts != 'undefined') {%>
            <% let cartCount = 0 %>
            <% let totalPrice = 0 %>
            <%for(var i = 0; i < carts.length; i++) { %>
                <% cartCount += carts[i].quantity %>
                <% totalPrice += (carts[i].quantity * carts[i].product.price) %>
            <% } %>
            <p>Total quantity: <%= cartCount %></p>
            <p>Total Price: <%= totalPrice %></p>


            <form method="POST" action="/pay">
                <input type="hidden" value="" name="id">
                <input type="hidden" value="<%= totalPrice %>" name="amount">
                <input type="text" placeholder="Name" name="name">
                <input type="text" placeholder="Email" name="email">
                <input type="text" placeholder="Address, zip, city, state, country" name="address">
                <input type="text" placeholder="Phone" name="phone">
                <textarea name="orderComment" placeholder="Order comment"></textarea>
                <input style="background-color: #07800e;" type="submit" value="Place Order">
            </form>

        <% } %>



    </div>
</div>

<script>

</script>