<div class="quick-quote-wrapper">

    <h2>Ask for a quick quote</h2>
    <form class="form quick-quote">
        <input type="text" name="name" placeholder="Full Name">
        <input type="email" name="email" placeholder="Put your email">
        <input type="text" name="phone" placeholder="Phone Number">
        <textarea name="description">Job Description</textarea>
        <input type="submit" value="Ask a quote">

    </form>

</div>