* {
  border-radius: 2px;
}
a {
  color: #9a9a9a;
  text-decoration: none;
}
body {
  background-color: #fff;
  font-family: 'roboto', sans-serif;
  color: #a49494;
  height: 100vh;
  text-align: center;
}
/*start header codes */

#logo {
  float: left;
  margin: 10px 0;
  padding-left: 50px;
  font-size: 2rem;
  color: #d49b98;
  opacity: 0.8;
}

.top-nav {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: end;
}

.right-top-menu {
  float: right;
  margin: 30px;
  padding-right: 50px;
}
.right-top-menu a {
  text-decoration: underline;
  margin: 5px;
}
ul {
  list-style: none;
}

.pure-css-nav > nav ul li {
  /* display: grid;
  grid-template-columns: 15% 15% 15% 15% 15%;
  align-items: center;
  align-self: center;
  align-content: center; */
  background: transparent;
}
.main-menu a {
  color: #9a9a9a;
}
.pure-css-nav > nav ul li a {
  color: #747474;
}
#first-level {
  background-color: #7dd0e6;
}

#product-menu:hover #first-level {
  display: inline;
}

#second-level:hover #third-level {
  display: inline;
}

.pure-css-nav > nav ul {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 10% 10% 10% 13% 10% 10%;
}
.pure-css-nav > nav ul {
  background: transparent;
  box-shadow: inset 0px 2px 26px 2px rgba(150, 221, 249, 0.5);
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); */
}
/* .pure-css-nav > nav > ul {
  padding-left: 15%;
} */

/*new menu code*/

/*end header code */

/*form starts*/

.form {
  margin: 100px auto;
  padding: 50px;
  text-align: center;
}
input,
textarea {
  width: 70%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #e6e47d;
  box-shadow: inset 2px 2px 5px 2px #ddd;
  color: #444;
  max-width: 600px;
  display: block;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  background: #ec627c;
  color: #fff;
  box-shadow: 0px 0px 3px 1px #8c8c8c;
  border: none;
  max-width: 250px;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
}

.form a {
  color: #999;
}

.error {
  color: red;
}

select,
input[type='file'] {
  background: #ffe4b0;
  box-shadow: 0 0 3px 0px #999;
  border: 1px solid #f0e6e6;
}

.quick-quote-wrapper {
  padding: 20px;
}
.quick-quote {
  margin: 0 auto;
  padding: 10px;
}

.quick-quote-wrapper h2 {
  background: #fff;
  width: max-content;
  margin: 20px auto;
  padding: 10px;
  border-radius: 2px;
  color: #8c7d81;
  border: 2px solid;
  opacity: 0.7;
}

.quick-quote input,
.quick-quote textarea {
  background-color: #edf9fb;
  opacity: 0.8;
  border-radius: 5px;
}
.quick-quote input[type='submit'] {
  margin-bottom: 20px;
  background: #f05b82;
  opacity: 0.7;
  color: #fff;
  border: 0px solid #bb9a89;
}
#message-info {
  display: none;
}
/*ends form */

/*starts product */

.single-product {
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 4px 0 #ccc;
  border-radius: 5px;
}

p.btn {
  background-color: #7dd0e6;
  margin: 10px auto;
  padding: 10px;
  color: #fff;
  box-shadow: 0px 0px 3px 1px #8c8c8c;
  border: none;
  max-width: 300px;
  font-weight: bold;
  text-transform: uppercase;
  width: max-content;
}

#add-variable-btn,
.add-variable-btn {
  cursor: pointer;
}

.variableProductsForm {
  display: grid;
  grid-template-columns: auto auto;
  width: 70%;
  margin: 0px auto 30px;
  background: #ededed;
  padding: 20px;
  border: 1px solid #ccc;
}
.varints-admin-show {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
/*ends product*/

/*starts admin*/

.del-wrapper {
  height: 60px;
}

.admin input[type='submit'] {
  padding: 10px;
  width: max-content;
}

.home-admin-input,
.single-home-link {
  margin: 30px auto;
  padding: 30px;
  background-color: #fafafa;
  border: 1px solid #eee;
  width: max-content;
}
.single-home-link {
  width: auto;
  margin: 30px;
  box-shadow: 0px 1px 2px #999;
}
.single-home-link input[type='submit'] {
  font-size: 12px;
}

/* admin products*/
.product-admin .single-product {
  display: flex;
  border: 1px solid #eee;
  box-shadow: 0 1px 1px 0 #eee;
}

.product-admin .single-product p {
  padding: 10px;
  border-right: 1px solid #eee;
}

.single-product-admin input,
.single-product-admin textarea {
  max-width: 300px;
}
.single-product-admin label {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
}

#delete-btn {
  cursor: pointer;
  width: max-content;
  margin: 10px auto 0;
  background: #f9ebd8;
  padding: 5px 10px;
  box-shadow: 0 1px 1px 0px #999;
}
#answer {
  cursor: pointer;
  width: max-content;
  margin: 0px auto;
  background: #fff;

  box-shadow: 0 1px 3px 0px #999;
}
#yes {
  padding: 5px 10px;
  margin: 0;
  cursor: pointer;
  width: 100%;
}
#no {
  border-top: 1px solid;
  padding: 5px 10px;
  margin: 0;
}
#yes:hover {
  background-color: #dedede;
}
#no:hover {
  background-color: #efefef;
}

/*ends admin*/

/*starts home page */

#page {
  font-family: 'roboto';
}

.home-overlay {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 0 auto;
  align-items: center;

  padding: 30px;
}

.left-offer h1:first-child {
  color: #fff;
  padding: 0px;
  text-transform: uppercase;
  line-height: 1.15;
}

.left-offer {
  border-radius: 10px;
}

.home-offer button {
  margin-bottom: 20px;
  background: #7dd0e6;
  opacity: 0.7;
}
.left-offer button {
  background-color: #ff5e91;
  padding: 10px 60px;
  cursor: pointer;
}
.top-right-offer {
  background: url('/img/site/top-right.jpg');
  background-position: center;
}
.bottom-right-offer {
  background: url('/img/site/top-bottom.jpg');
  background-position: center;
}

.home-offer h1 {
  line-height: 0.6;
  color: #fafafa;
}
.home-offer h2 {
  text-transform: uppercase;
  color: #fafafa;
  opacity: 0.8;

  padding: 10px;
}
.right-offer h2 {
  background: rgba(255, 94, 145, 1);
}
.right-offer button {
  box-shadow: 0 0 5px 3px #114e66, inset 0px 0px 21px #bb9a89;
  color: #6f5d5d;
  border: 2px solid #bb9a89;
}

.left-offer img {
  width: 201px;
  box-shadow: 0 0 18px 3px #859295;
  border-radius: 20px;
}

.home-offer {
  background: url('/img/site/left-bg-2.jpg');
  background-position: center;
}

.overlay {
  background-color: rgba(41, 142, 182, 0.7);
  height: 100%;
  padding: 30px;
}

.home-overlay {
  /* background-color: rgba(96, 204, 168, 0.7); */
  background-color: rgba(96, 174, 204, 0.7);
  height: 100%;
}

.home-text-section {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  grid-gap: 3%;
  padding: 0 35px;
}

.home-heading h1 {
  background: #fff;
  text-transform: uppercase;
  margin: 100px auto 0;
}
.text1 {
  margin: 20px;
  padding: 20px;
  /* border: 1px solid; */
}
.text1 button {
  background-color: #ff5e91;
  box-shadow: 0 0 5px 3px #114e66, inset 0px 0px 21px #bb9a89;
  color: #6f5d5d;
  border: 2px solid #bb9a89;
  display: none;
}
/*ends home page */

/*product page front */

.add-cart {
  background: #ff5e91;
  font-size: 0.8em;
  cursor: pointer;
  border-radius: 5px;
}

#product-front {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-gap: 1.3%;
  margin-top: 50px;
}

.single-product-page img {
  box-shadow: inset 0 0 4px 0px #333;
  border: 1px solid #e6a47d;
  padding: 3px;
  margin-top: 27px;
}
#cart-count {
  color: #ff5e91;
}
.cart-product {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  padding: 30px;
  margin: 30px;
  border: 1px solid #e7e7e7;
  box-shadow: 0 0px 2px 0px #ccc;
}
.cart-product input[type='submit'] {
  padding: 2px;
  width: auto;
  color: #747474;
  background: #fafafa;
  margin: 10px auto;
  cursor: pointer;
}
#cart-page {
  padding: 30px;
}

#processing {
  width: max-content;
  padding: 10px;
  margin: 5px auto;
  border: 1px solid #eee;
}
/*product page front */

/*footer */
footer {
  display: block;
  position: relative;
  background: #f7f7f7;
  padding: 30px;
  margin: 250px auto 0;
  box-shadow: 0px 0 3px 0px;
}
.numbers {
  background-color: white;
  color: #0f1f28;
  font-size: 2em;
  opacity: 0.6;
  font-family: open sans condensed;
}
.customer-details h2 {
  font-family: open sans condensed;
}

.customer-details h3 {
  color: #5e6873;
  border: 1px solid #ffede1;
  width: max-content;
  margin: 10px auto;
  box-shadow: 0 0px 20px 0px inset #d5e1df;
  padding: 5px;
}

.toggle-menu {
  display: none;
}

/* Responsive design starts here */
@media only screen and (max-width: 1200px) {
  .home-heading {
    padding: 0 20px;
  }
  .toggle-menu {
    display: block;
    float: left;
    position: fixed;
    z-index: 999;
    background: white;
    padding: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 0px #4e4949;
    transition: background-color 0.5s;
  }
  .toggle-menu:hover {
    background-color: #eee;
  }
  #main-menu {
    transition: visibility 0s, opacity 0.5s linear;
  }
  .pure-css-nav > nav ul {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: auto;
    width: 300px;
    position: absolute;
    background: white;
  }
  .pure-css-nav > nav ul ul {
    margin-left: 300px;
    margin-top: -50px;
  }
  .pure-css-nav > nav ul ul ul {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 1000px) {
  .home-text-section {
    grid-template-columns: 46% 46%;
  }
  #product-front {
    grid-template-columns: 48% 48%;
  }
  .home-overlay {
    grid-template-columns: auto;
  }
  .right-offer h2 {
    width: max-content;
    margin: auto;
  }
  .cart-product {
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 690px) {
  .right-top-menu {
    font-size: 0.85em;
  }
  .top-nav {
    grid-template-columns: auto;
  }
  #logo {
    float: none;
    padding-left: 0;
  }
  #logo img {
    margin-top: 5px;
  }
  .right-top-menu {
    float: none;
    margin: 10px;
    padding-right: 0;
  }
}

@media only screen and (max-width: 500px) {
  .home-text-section {
    grid-template-columns: auto;
  }
  #product-front {
    grid-template-columns: auto;
  }
  .overlay {
    padding: 30px 0;
  }
  .home-offer h2 {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 1.6rem;
  }
  .home-overlay {
    padding: 0;
  }
  #processing {
    width: auto;
  }
}

/* ends responsive design */
