a {
  color: #9a9a9a;
  text-decoration: none;
}
body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  color: #444;
  height: 100vh;
  text-align: center;
}
/*start header codes */

/*new menu code*/

/* HTML Nav Styles */
/* HTML Nav Styles */
/* HTML Nav Styles */
nav menuitem {
  position: relative;
  display: block;
  opacity: 0;
  cursor: pointer;
}

nav menuitem > menu {
  position: absolute;
  pointer-events: none;
}
nav > menu {
  display: grid;
  grid-template-columns: 12% 15% 14% 13% 10%;
  grid-column-gap: 1%;
  align-content: center;
}

nav > menu > menuitem {
  pointer-events: all;
  opacity: 1;
}
menu menuitem a {
  white-space: nowrap;
  display: block;
}

menuitem:hover > menu {
  pointer-events: initial;
}
menuitem:hover > menu > menuitem,
menu:hover > menuitem {
  opacity: 1;
}
nav > menu > menuitem menuitem menu {
  transform: translateX(100%);
  top: 0;
  right: 0;
}
/* User Styles Below Not Required */
/* User Styles Below Not Required */
/* User Styles Below Not Required */

nav {
  margin-top: 40px;
  margin-left: 40px;
}

nav a {
  background: #7dd0e6;
  color: #7d7d7d;
  min-width: 190px;
  transition: background 0.5s, color 0.5s, transform 0.5s;
  margin: 0px 6px 6px 0px;
  padding: 20px 40px;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
}

nav a:hover:before {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

nav > menu > menuitem > a + menu:after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid white;
  left: 12px;
  top: -40px;
}
nav menuitem > menu > menuitem > a + menu:after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-left: 10px solid white;
  top: 20px;
  left: -180px;
  transition: opacity 0.6, transform 0s;
}

nav > menu > menuitem > menu > menuitem {
  transition: transform 0.6s, opacity 0.6s;
  transform: translateY(150%);
  opacity: 0;
}
nav > menu > menuitem:hover > menu > menuitem,
nav > menu > menuitem.hover > menu > menuitem {
  transform: translateY(0%);
  opacity: 1;
}

menuitem > menu > menuitem > menu > menuitem {
  transition: transform 0.6s, opacity 0.6s;
  transform: translateX(195px) translateY(0%);
  opacity: 0;
}
menuitem > menu > menuitem:hover > menu > menuitem,
menuitem > menu > menuitem.hover > menu > menuitem {
  transform: translateX(0) translateY(0%);
  opacity: 1;
}

/*end header code */

/*form starts*/
.form {
  margin: 100px auto;
  padding: 50px;
  text-align: center;
}
input,
textarea {
  width: 70%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #7dd0e6;
  box-shadow: inset 2px 2px 5px 2px #ddd;
  color: #444;
  max-width: 600px;
  display: block;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  background: #555;
  color: #fff;
  box-shadow: 0px 0px 3px 1px #8c8c8c;
  border: none;
  max-width: 300px;
  padding: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
}

.form a {
  color: #999;
}

.error {
  color: red;
}

select,
input[type='file'] {
  background: #7dd0e6;
  box-shadow: 0 0 3px 0px #999;
  border: 1px solid #a8deec;
}
/*ends form */

/*starts product */

.single-product {
  margin: 20px;
  padding: 20px;
}

p.btn {
  background-color: #7dd0e6;
  margin: 10px auto;
  padding: 10px;
  color: #fff;
  box-shadow: 0px 0px 3px 1px #8c8c8c;
  border: none;
  max-width: 300px;
  font-weight: bold;
  text-transform: uppercase;
  width: max-content;
}

#add-variable-btn,
.add-variable-btn {
  cursor: pointer;
}

.variableProductsForm {
  display: grid;
  grid-template-columns: auto auto;
}

.variableProductsForm div {
  margin: 30px;
  padding: 30px;
  background-color: #fafafa;
  border: 1px solid #eee;
}

/*ends product*/

/*starts admin*/

.admin input[type='submit'] {
  padding: 10px;
  width: max-content;
}

.home-admin-input,
.single-home-link {
  margin: 30px auto;
  padding: 30px;
  background-color: #fafafa;
  border: 1px solid #eee;
  width: max-content;
}
.single-home-link {
  width: auto;
  margin: 30px;
  box-shadow: 0px 1px 2px #999;
}
.single-home-link input[type='submit'] {
  font-size: 12px;
}
/*ends admin*/
