<div>
    <h1><%= user.name %></h1>
    <a style="text-decoration: underline;" href="/account/details">Account Details</a> <br><br>
    <a style="text-decoration: underline;" href="/orders">Order Details</a>
</div>