<div id="cart-page">
    <% if(typeof orders != 'undefined') {%>
    <%for(var i = 0; i < orders.length; i++) { %>
        <% if(orders[i].completed === false){ %>
            <div id="cart">

                <a href="/orders/<%= orders[i].id %>"><p id="processing">order id: <%= orders[i].id %> <span style="color: #afdfd8;">Processing</span></p></a>
                    


            </div>
        <% } %>
    <%}%>
    <% } %>
<br>
<br>
    <!-- <a class="button" href="/orders/completed">Completed orders</a> -->
   
</div>