<header>
    <div>
        <nav class="top-nav">
            <div>
                <a href="/" title="logo" id="logo"><img src='/img/site/logo.jpg' width="150"></a>
            </div>



            <div>



                <p class="right-top-menu">
                    <span><a href="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            Cart</a></span>
                    <% if(typeof user != 'undefined'){ %>
                    <span><a href="/account"><i class="fa fa-users" aria-hidden="true"></i>
                            Account</a></span>
                            <span><a href="/api/v1/users/logout">Logout</a></span>
                    <%}%>
                <% if(typeof user == 'undefined'){ %>
                    <span><a href="/login">Login</a></span>
                    <span><a href="/register">Register</a></span>
                    <%}%>
            </p>
        </div>

    </nav>

    <div class="toggle-menu">
        <i class="fa fa-bars" aria-hidden="true"></i>

    </div>

        <div class="toggle-menu" id="toggle">
            <i style="font-size: 1.4rem;" class="fa fa-bars" aria-hidden="true"></i>
        
        </div>

    <div id="main-menu" class="main-menu pure-css-nav">
        <nav>

            <ul>
            
                <li><a href="/admin">Dashboard</a></li>

                <li id="product-menu"><a href="/admin/products">Products</a>
                    <ul id="2nd-level">
                        <li><a href="/admin/add-product">Add Product</a></li>
                        <li><a href="/admin/add-variants">Add Variants</a></li>
                    </ul>
                </li>

                <li><a href="/admin/categories">Category</a>
                    <ul id="2nd-level">
                        <li><a href="/admin/add-category/">Add Category</a></li>
                            
                     </ul>
                    
                </li>
                <li><a href="/admin/orders">Orders</a>

                </li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact-us">Contact Us</a></li>
            </ul>


        </nav>
    </div>

</div>
<script>
    //toggle menu
        let toggle = document.getElementById('toggle');
        let mainMenu = document.getElementById('main-menu');

        if (window.innerWidth <= 1200) {
            mainMenu.style.visibility = 'hidden';
            mainMenu.style.opacity = '0';
        }


        toggle.addEventListener('click', () => {
            event.preventDefault();

            if (mainMenu.style.visibility == 'hidden') {
                mainMenu.style.visibility = 'visible';
                mainMenu.style.opacity = '1';
            } else {
                mainMenu.style.visibility = 'hidden';
                mainMenu.style.opacity = '0';
            }


        });
</script>
</header>